<div class="container mt-4">
  <h1>Add New Product</h1>
  
  <% if current_user.shop.present? %>
    <div class="card">
      <div class="card-body">
        <%= render 'form', product: @product %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-warning">
      <p>You need to create a shop before you can add products.</p>
      <%= link_to 'Create Your Shop', new_shop_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <div class="mt-3">
    <%= link_to 'Back to Products', products_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>